/* div que contendra los otros div */
.selector_wrapper
{
    position: relative;
    user-select: none;
    cursor: pointer;
    width: 0;
    text-align: left;

    /* more styles */
    display: block;
    float: left;
    position: relative;
    margin-top: 10px;
}

/* div predeterminado */
#select_trigger
{
    display: block;
    background-color: whitesmoke;
    color: black;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    font-family: system-ui;
    font-weight: 400;
    /* font-size: 12px; */
    font-size: 13px;
    /* padding: 2px 5px; */
    padding: 5px 5px;
    width: 13em;
}

/* div que se ocultara */
#select_options
{
    display: none;
    position: absolute;
    top: 110%;
    border-radius: 2px;
    padding: 4px 0;
    background-color: white;
    border: 1px solid rgb(204, 204, 204);
}

/* div que establecera la altura maxima y activara el scrollbar */
#container_options
{
    /* width: 164px; */
    width: 177px;
    max-height: 107px;
    overflow-y: auto;
}

/* los span que contienen el texto */
.option
{
    display: block;
    background-color: white;
    color: black;
    font-family: system-ui;
    font-weight: 400;
    /* font-size: 12px; */
    font-size: 13px;
    /* padding: 2px 5px; */
    padding: 5px 5px;
    width: auto;
}

/* estiliza el data-amount de los spans */
.option::after
{
    content: attr(data-amount);
    display: inline;
    font-size: 8px;
    margin-top: 2px;
    float: right;
    background-color: whitesmoke;
    border-radius: 3px;
    text-align: center;
    width: 18px;
}

#trigger::after
{
    content: '▼';
    display: inline;
    float: right;
    font-size: 9px;
}

.option:hover, .option:hover::after
{
    background-color: #007bff !important;
    color: white;
}

/* from handleClick() function */
.show
{
    display: block !important;
}

/* agrega la clase select al span */
.selected, .selected::after
{
    background-color: #007bff !important;
    color: white;
}

/* modifica el scrool-bar */
#container_options::-webkit-scrollbar
{
    width: 3px;
}

#container_options::-webkit-scrollbar-track {
    border: 2px solid #f9f9f9;
}