.principal{
    background-color: brown;
    text-align: center;
    width: 100%;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
        "item1"
        "item2";
}

.item1 textarea{
    background-color: antiquewhite;
    resize: none;
    width: 30em;
    height: 5em;
}

.item1 #authorText{
    width: 200px;
    background-color: skyblue;
    padding: 15px;
    text-align: center;
    height: 15px;
}

.item1{
    background-color: greenyellow;
    grid-area: item1;
    width: 50em;
    align-self: center;
    justify-self: center;
}

.item2{
    background-color: orange;
    grid-area: item2;
    text-align: right;
    padding: 20px 0;
    width: 50em;
    align-self: center;
    justify-self: center;
}

.item2 select{
    float: left;
    width: 100px;
    outline: none;
}