.item1{
    /* background-color: rgba(244, 178, 178, 0.9); */
    width: auto;
    display: grid;
    gap: 15px;
    padding: 15px;
    grid-template-columns: 1fr 15em;
    grid-template-rows: 17em;
    grid-template-areas: 
    "aq aa";
    /* border-radius: 15px;
    border: 1px solid rgba(244, 178, 178, 0.9); */

    background: radial-gradient(59.28% 262.89% at 22.57% 64.09%, rgba(211, 154, 154, 0.045) 0%, rgba(255, 168, 168, 0.126) 0.01%, rgba(255, 155, 155, 0.129) 50.41%, rgba(255, 162, 162, 0.123) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    border-radius: 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');

#text{
    width: 20em;
    height: 6em;

    /* more styles */
    padding: 15px;
    font-size: xx-large;

    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-family: 'Cormorant Garamond', serif;
    overflow: auto;
    cursor: default;
}

#text::-webkit-scrollbar{
    width: 3px;
}

#imageContainer{
    height: 14em;
    position: relative;
}

#imageContainer img{
    height: 13.5em;
    width: 13.5em;
    border-radius: 50%;
    background-color: ghostwhite;
}

#tags{
    width: fit-content;
    height: auto;
    display: block;
    margin: 7px;

    /* more styles */
    padding: 3px 7px;
    font-size: x-small;

    background: linear-gradient(180deg, rgba(244, 244, 244, 0.25) 0%, rgba(244, 244, 244, 0.25) 100%);
    backdrop-filter: blur(7px);
    border-radius: 2px;
}

#tweetContainer{
    display: block;
    margin: 7px;
    padding: 4px 8px;
    font-size: x-small;
    
    background: linear-gradient(180deg, rgba(244, 244, 244, 0.25) 0%, rgba(244, 244, 244, 0.25) 100%);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    border-radius: 2px;
    border: none;
}

#tweet-quote {
    color: black;
    text-decoration: none;
}

#author{
    width: fit-content;
    height: auto;
    display: inline-block;

    /* more styles */
    padding: 4px 10px;
    margin-top: 10px;

    background: linear-gradient(180deg, rgba(232, 240, 246, 0.88) 0%, rgba(232, 240, 246, 0.88) 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(11px);
    border-radius: 3px;
}

#AboutQuote{grid-area: aq;}
.AboutAuthor{grid-area: aa;}

.item2{
    /* background-color: #F4F4F4; */
    width: 57em;
    padding: 20px;
    /* border: 1px solid #E8E8E8; */
    border-radius: 7px;
    margin-top: 20px;
    text-align: right;

    background: rgba(244, 244, 244, 0.11);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 7px;
}

#new-quote{
    color: white;
    border-radius: 5px;
    padding: 13px 30px;

    width: 200px;
    height: 70px;
    box-sizing: border-box;

    font-family: fantasy;
    font-size: 30px;
    background: #40314A;
    border: none;
    box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.18s ease-in-out;
    position: relative;
}

#new-quote:hover{
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.3);
}

#new-quote::after{
    content: '';
    background-color: rgba(102, 111, 131, 0.25);
    border-radius: 11px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    opacity: 0;
    padding: 18% 52%;
    margin: -18% -52%;
    transition: all 0.4s ease-in-out;
}

#new-quote:active
{
    transform: translateY(3px);
}

#new-quote:disabled{
    background: hsl(274, 4%, 50%);
    transition: all 0.5s ease-in-out;
}

#new-quote:active::after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

#quote-box{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    transition: background-color 1.5s ease-in-out;
}

::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #424242; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #222222; 
}

.selector_wrapper
{
    position: relative;
    user-select: none;
    cursor: pointer;
    width: 0;
    text-align: left;

    /* more styles */
    display: block;
    float: left;
    position: relative;
    margin-top: 10px;
}

.selector_wrapper select{
    padding: 10px;
    box-sizing: border-box;
    width: 160px;
    outline: none;
    border: none;
    font-size: medium;
    font-weight: lighter;
    font-family: inherit;
    border-radius: 5px;
    
    background: linear-gradient(180deg, rgba(244, 244, 244, 0.25) 0%, rgba(244, 244, 244, 0.25) 100%);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

.selector_wrapper option:checked{
    background-color: skyblue;
    color: #fff;
}

.fade-enter{
    opacity: 0;
}
.fade-exit{
    opacity: 1;
}
.fade-enter-active{
    opacity: 1;
}
.fade-exit-active{
    opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
    transition: opacity 1s;
}